/*CSS font size calc*/
/*https://www.madebymike.com.au/writing/fluid-type-calc-examples/*/

html, body{
    width: 100%;
}

h1, h2, main, section{
    width: 80%;
    margin: 0 auto;
}

body{
    margin-top: 30px;   
}

h1, h3{
    text-align: center;
}

a{
    color:#209cee;
}
a:hover{
    color:#f7d51d;
}

.explanation-container{
    margin: 30px auto;
}

#format-container{
    margin: 50px 0;
    top:0;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    z-index: 2;
}

#format-wrapper{
    padding: 10vh 0;
    width: 100%;
}

#format{
    max-width: 90%;
    margin: 0 5%;
    height: 100%;
    min-height: 75px;
    text-align: center;
}

#moment-cultures-container{   
    width: 80%; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: 0 auto;
}

.shadow{
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.moment-culture-container{
    padding: 20px 0 20px !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;    
    width: 100%;
}

.moment-culture-container h3{
    font-weight: lighter;
}

.date-time-container{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(12px + 6 * ((100vw - 320px) / (1800 - 320)));
}

.date-time-container p{
    margin:0;
}

.date-formated{
    width: 100%;
    text-align: center;
    color:gray;
}

.dialog-component{
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    position: fixed;
    display: none;
}
.tittle{
    text-align: center;
}
.dialog-menu{
    text-align: center;
    padding: 0;
}

#date-formats-dialog{
    z-index: 999;
    background-color: white;
    max-width: 80vw;
    max-height: 80vh;
    width: fit-content;
    height: fit-content;
    overflow: scroll;
}

#dialog-backgorund{
    z-index: 998;
    background-color: gray;
    opacity: 0.75;
    width:100vw;
    height: 100vh;
}

#close-date-formats-dialog{
    text-align: center;
    padding: 0;
}

.usefull-format{
    color: darkgray;
    font-weight: bold;
}

#go-up{
    position: fixed;
    display: none;
    bottom: 25px;
    right: 2rem;
}
#go-up span {
    display: block;
    transform: rotateZ(90deg);
} 

footer{
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid black;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) { 
    .moment-culture-container, .hidden-hack{
        width: 95%;
    }
    #date-formats-dialog{
        max-width: 95vw;
        max-height: 100vh;
        font-size: 0.7em;
    }
    #date-formats-dialog p{
        margin-bottom: 5px;
    }
}

@media (min-width: 576px) { 
    .moment-culture-container, .hidden-hack{
        width: 95%;
    }
    #date-formats-dialog{
        max-width: 95vw;
        max-height: 100vh;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .moment-culture-container, .hidden-hack{
        width: 45%;        
    }   
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #format{
        min-height: 10vh;
    }
    .moment-culture-container, .hidden-hack{
        width: 32%;        
    } 
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
    .moment-culture-container, .hidden-hack{
        width: 23%;        
    }     
    .moment-culture-container h3{
       /* font-size: 25px; */
    }
    .date-time-container{
        font-size: 18px;
    }
    #format{
        font-size: 14px;
    }
}